{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>

{% block title %}All projects{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static "blog/posts.css" %}" />
<link rel = "stylesheet" href="{% static "blog/all-posts.css" %}" />

{% endblock css_files %}


{% block main_layout %}
<section id="all-posts"> 
    <h2>My collected Projects </h2>

    <ul>

        {% for post in all_posts %}
            {% include "blog/includes/posts.html" %}
        {% endfor %}
        
    </ul>
</section>
{% endblock main_layout %}